@import "../../assets/variables/Variables.scss";
.footer {
  background-color: $backgroundColor;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  height: 3em;
  font-weight: bold;
  font-size: 1.2em;
  .nav__left,
  .nav__right {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.nav__link {
  margin-left: 1em;

  &:hover {
    color: $linkColor;
    cursor: pointer;
  }
}
