.main {
  display: flex;
  min-height: 88vh;
  justify-content: space-evenly;
  width: 30%;
  input {
    height: 1.5em;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  width: 9em;
}
